/*General*/
body{
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.container{
  width: 86%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;  
}
button{
  border: none;
  background: none;
  cursor: pointer;
}
input{
  border: none;
}
input:focus{
  outline: none;
}
.ingredient{
  background: #3282F7;
}
.appliance{
  background: #68D9A4;
}
.ustensil{
  background: #ED6454;
}

/*HEADER*/
header img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:80%;
  max-width: 512px;
}

/*SEARCH*/
.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  background: #E7E7E7;
  margin: 20px 0;  
}
.search input{
  width: 90%;
  height: 100%;
  background: #E7E7E7;
  font-size: 18px;
  padding-left: 24px;
}
.search input:focus{
  background: #C7BEBE;
}
.search i{
  margin: 16px;
  font-size: 30px;
}

/*TAG*/
.tag--container{
  display: flex;
  flex-wrap: wrap;
}
.tag{
  height: 37px;
  border-radius: 5px;
  color:#FFFFFF;
  font-size: 14px;
  padding: 0 20px;
  margin-bottom: 15px;
  margin-right: 20px;
}
.tag i{
  margin-left: 13px;
}

/*SEARCH BY TOPIC*/
.topic--container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 150px;
  margin-top: 5px;
}
.topic-card{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  z-index: 2;
}
.topic-card, .topic-card button, .topic-card input{
  color: #FFFFFF;
  font-size: 18px;
}
  /*topic Card BUTTON*/

.topic-card__close{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  height: 40px; 
  font-weight: 700; 
} 
  /*Topic Card SEARCH*/
.topic-card__open{
  display: none;
  min-width: 223px;
  max-width: 53.8%;
}

.topic-card--header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topic-card--header input{
  font-weight: 700;
  width: 100%; 
}
.topic-card--header input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.topic-card--sugestion-box{
  display: flex;
  flex-wrap: wrap;  
  column-gap: 8%; 
  padding-top: 25px;
}
.topic-card--sugestion{
  text-align: left;
  width: 28%;
  margin: 5px 0;
}

@media screen and (max-width: 1031px) {
  .topic--container{
    max-height: none;
  }
  .topic-card__open{
    max-width: 100%;
    width: 100%;   
  }
}
@media screen and (max-width: 550px) {
  .topic-card--sugestion{
    width: 46%;
  }
}

/*RECIPE-CARD*/
.recipe--gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 50px 4.1%;
  width: 100%;
}
.recipe-card{
  background: #E7E7E7;
  width: 30.6%;
  min-height: 364px;
}
.recipe-card--img{
  background: #C7BEBE;
  width: 100%;
  height: 178px;
}
.recipe-card--header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 20px;
}
.recipe-card--header h2, .recipe-card--time{
  font-size: 18px;
  font-weight: 700;  
}
.recipe-card--time{
  white-space: nowrap;
}
.recipe-card--time i{
  margin: 0 7px;
}
.recipe-card--main{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.recipe-card--ingredients{
  width: 48%;
}
.recipe-card--ingredients ul{
  list-style: none;
  padding: 0;
}
.recipe-card--ingredients ul span{
  font-weight: 700;
}
.recipe-card--recipe{
  display:inline-block;
  width: 48%;  
}

@media screen and (max-width: 1200px) {
  .recipe--gallery{    
    justify-content: center;
  }
  .recipe-card{
    width: 100%;
    max-width: 450px;
    min-height: 400px;
  }
  .recipe-card--header h2, .recipe-card--time{
    font-size: 20px;
  }
  .recipe-card--main{
    font-size: 15px;
  }
}





